@import '../fonts/GothamPro/stylesheet.css';

@font-face {
	font-family: 'Copperplate';
	src: url('../fonts/Copperplate.ttf');
	src: url('../fonts/Copperplate.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    background-color: #000000;
    overflow-x: hidden;
}
a {
    color: #ffffff;
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.bg {
    background-image: url(../img/bg.png);
    background-size: contain;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    background-color: #000000;
    z-index: 10;
}
.header__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}
.header__contacts,
.header__place {
    display: flex;
    align-items: center;
}
.header__contacts img,
.header__place img {
    margin-right: 20px;
}
.header__contacts span,
.header__contacts span a,
.header__place span {
    color: #969696;
}
.header__nav {
    padding: 25px 0;
}
.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list_item a {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Copperplate';
}
.header__list_item a:hover {
    color: #ffd68f;
    text-decoration: none;
}
.header__list_item a:hover::before {
    top: -15px!important;
}
.header__logo img {
    width: 120px;
    height: 48px;
}
/* END:header */

/* banner */
.banner {
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.banner .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner img {
    max-width: 523px;
}
.banner__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    width: 50%;
}
.title {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgba(255, 214, 143, 255);
    padding-bottom: 24px;
}
.title:after {
    content: '';
    position: relative;
    display: block;
    background-color: rgba(255, 214, 143, 255);
    width: 50px;
    height: 1px;
    margin-left: 10px;
}
.main-title {
    font-family: 'Copperplate';
    font-size: 24px;
    text-transform: uppercase;
}
.banner__info p {
    padding-top: 29px;
    line-height: 1.8;
}
/* END:banner */

/* uslugi */
.uslugi .main-title {
    text-align: center;
}
.uslugi__list {
    width: 730px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 0 100px 0;
}
.usluga {
    border-bottom: 1px solid #efc986;
    transition: all .3s linear;
    overflow: hidden;
}
.usluga.active .usluga__head img {
    transform: rotate(180deg);
}
.usluga__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 500;
    padding: 15px 0;
}
.usluga__head img {
    cursor: pointer;
    transition: all .3s linear;
}
.usluga__prices {
    padding-top: 15px;
}
.usluga__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    font-size: 18px;
}
.usluga__value {
    color: rgba(255, 214, 143, 255);
}
/* END:uslugi */

/* gallery */
.gallery .main-title {
    text-align: center;
}
.gallery__photos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 90px 0;
}
.photos__main {
    width: 50%;
    height: auto;
}
.photos__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 12px;
    height: 100%;
    width: 50%;
}
.photos__item {
    width: calc((100% - 12px) / 2);
    /* padding-bottom: 12px; */
}
.photos__item:nth-child(1),
.photos__item:nth-child(2) {
    padding-bottom: 12px;
}
.photos__item img {
    width: 100%;
    height: auto;
}
/* END:gallery */

/* lazer */
.lazer__text {
    background-image: url(../img/gallery-bg.png);
    background-size: auto;
    font-family: 'Copperplate';
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    line-height: 1.8;
    padding: 40px 13%;
    text-align: center;
}
.lazer__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0 60px 0;
}
.lazer__img {
    max-width: 520px;
}
.lazer__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    width: 50%;
}
.lazer__plus h3,
.lazer__desc h3 {
    font-size: 20px;
    font-weight: 500;
}
.lazer__desc p {
    padding-top: 20px;
    font-size: 14px;
    line-height: 1.8;
}
.luzer__plus_item {
    padding-top: 20px;
}
.luzer__plus_item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.luzer__plus_item p {
    line-height: 1.8;
}
/* END:lazer */

/* procedura */
.procedura {
    padding: 70px 0;
}
.procedura .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.procedure__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
    width: 50%;
}
.procedure__img {
    max-width: 520px;
}
.procedure__info p {
    padding-top: 15px;
    line-height: 1.8;
    max-width: 450px;
}
.procedure__list {
    padding-left: 15px;
    list-style-type: disc;
}
.procedure__item {
    padding-top: 15px;
    padding-left: 5px;
    line-height: 1.8;
}
::marker {
    color: #efc986;
}
.resume p {
    padding-top: 15px;
    line-height: 1.8;
}
/* END:procedura */

/* masters */
.masters {
    padding: 140px 0 120px 0;
}
.masters .main-title {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}
.masters .main-title::before {
    content: "";
    display: block;
    width: 41px;
    height: 1px;
    background-color: #efc986;
    margin-right: 5px;
}
.masters__slider {
    max-width: 75%;
    margin: 0 auto;
}
.master__slide {
    padding: 0 20px;
}
.master__photo {
    width: 100%;
}
.master__name {
    padding: 20px 0 13px 0;
    font-weight: 500;
    font-size: 14px;
}
.master__about {
    font-size: 12px;
    line-height: 1.8;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-130%, -215%);
    background: url(../img/slider-arrow.png);
    width: 19px;
    height: 34px;
    font-size: 0;
    border: 0;
    outline: none;
    cursor: pointer;
}
.slick-next {
    left: auto;
    right: 0;
    transform: translate(130%, -215%) rotate(180deg);
}
/* END:masters */

/* footer */
.sprites {
    display: inline-block;
    background-image: url(../img/sprites.png);
    vertical-align: middle;
    margin: 5px;
}
.footer {
    min-height: 542px;
    background-image: url(../img/footer.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: #000000;
}
footer .menu a {
    color: #000;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a {
    position: relative;
    font-family: 'Copperplate',serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    line-height: 5;
    letter-spacing: -.4px;
    text-align: center;
    color: #fff;
}
.menu a:hover {
    color: #ffd68f;
    text-decoration: none;
}
.header__list_item a:hover::before,
.menu a:hover:before {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: calc(50% - 8px);
    content: "";
    background-image: url(../img/sprites.png);
    vertical-align: middle;
    width: 17px;
    height: 11px;
    background-position: -80px -34px;
}
.line {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px;
}
.col-sm {
    width: calc(100% / 3);
}
.address {
    font-size: 12px;
    color: #000;
    padding-bottom: 20px;
}
.button {
    display: inline-block;
    border-radius: 18px;
    background: none;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 1px solid #000;
    color: #000;
    margin: 5px 2px;
    font-size: 12px;
    outline: none;
}
.button_hover {
    border-color: #ffd68f;
    color: #ffd68f;
}
.sprites_arrow_right_hover {
    width: 50px;
    height: 9px;
    background-position: -61px -2px;
}
.sprites_map_white {
    width: 18px;
    height: 18px;
    background-position: -24px -54px;
}
.sprites_phone_white {
    width: 18px;
    height: 18px;
    background-position: -68px -54px;
}
.address .block_icon {
    margin-right: 15px;
}
.copyright, .job {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
.job {
    padding: 10px;
    line-height: 1.5;
    letter-spacing: -.3px;
    color: #000;
}
.block_social {
    margin: auto;
    padding: 10px;
    max-width: 200px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.social {
    display: inline-block;
    width: 29px;
    height: 29px;
    background: url(../img/social.png);
    background-position-y: -2px;
}
.social-instagram {
    background-position-x: -132px;
}
.social-facebook {
    background-position-x: -66px;
}
.social-whatsapp {
    background-position-x: -2px;
}
.social-facebook:hover {
    background-position-x: -99px;
}
.social-instagram:hover {
    background-position-x: -165px;
}
.social-whatsapp:hover {
    background-position-x: -34px;
}
.copyright {
    margin: auto;
    max-width: 400px;
    padding: 20px 10px 33px;
    font-family: PTSans-Regular,serif;
    line-height: 1.2;
    letter-spacing: .1px;
    text-align: center;
    color: #333;
}
/* END:footer */

.header__btn {
    display: none;
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,.75);
    z-index: 100;
    display: none;
    transition: all 0.3s linear;
}
.mobile-menu.active {
    display: block;
}
.mobile__menu {
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    overflow: auto;
    display: -webkit-box;
    display: flex;
    align-items: center;
    padding: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    background-color: #000;
    border-left: 2px solid #ffd68f;
    border-right: 1px solid #ffd68f;
    z-index: 100;
    transition: all 0.3s linear;
}
.mobile-menu.active .mobile__menu {
    left: 0px;
}
.mobile__menu img {
    cursor: pointer;
    max-width: 50px;
}
.mobile__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile__nav a {
    position: relative;
    font-family: "Copperplate", serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    line-height: 5;
    letter-spacing: -.4px;
    text-align: center;
    color: #fff;
}
.mobile__nav a:hover {
    color: #ffd68f;
    text-decoration: none;
}
.mobile__nav a:hover:before {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: calc(50% - 8px);
    content: "";
    background-image: url(../img/sprites.png);
    vertical-align: middle;
    width: 17px;
    height: 11px;
    background-position: -80px -34px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 992px) {
    .bg {
        background-repeat: no-repeat;
        background-image: cover;
    }
    .procedure__info,
    .procedure__img,
    .lazer__img,
    .lazer__desc,
    .photos__list,
    .banner__info {
        width: 100%;
    }
    .header__info {
        padding: 15px 0;
    }
    .header__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .header__logo {
        width: 100%;
        text-align: center;
    }
    .header__place,
    .menu,
    .header__contacts,
    .header__nav {
        display: none;
    }
    .banner {
        margin-top: 70px;
        padding-bottom: 50px;
    }
    .banner .container {
        flex-direction: column;
    }
    .banner img {
        max-width: 100%;
        width: 100%;
        margin-bottom: 30px;
    }
    .banner__info {
        padding-left: 0;
    }
    .usluga__head {
        font-size: 16px;
    }
    .usluga__price {
        font-size: 14px;
    }
    .gallery__photos {
        flex-direction: column;
        padding-top: 25px;
        padding-bottom: 50px;
    }
    .photos__main {
        width: 100%;
        margin-bottom: 14px;
    }
    .uslugi__list {
        padding-top: 15px;
        padding-bottom: 60px;
    }
    .photos__list {
        padding-left: 0;
    }
    .lazer__text {
        padding: 40px 16px;
    }
    .lazer__info {
        padding-top: 40px;
        flex-direction: column;
        padding-bottom: 50px;
    }
    .lazer__img {
        max-width: 100%;
    }
    .lazer__desc {
        padding-left: 0;
        padding-top: 40px;
    }
    .procedura .container {
        flex-direction: column-reverse;
    }
    .procedure__img {
        max-width: 100%;
    }
    .procedure__info {
        padding-top: 40px;
        padding-right: 0;
    }
    .procedura {
        padding: 24px 0 40px 0;
    }
    .masters {
        padding: 55px 0 60px 0;
    }
    .line {
        flex-direction: column;
    }
    .col-sm {
        width: 100%;
    }
}


@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}